pkgbase = matlab
	pkgdesc = A high-level language for numerical computation and visualization
	pkgver = R2017b
	pkgrel = 0
	url = http://www.mathworks.com
	arch = x86_64
	license = custom
	optdepends = gcc49: For MEX support
	source = matlab_R2017b_glnxa64.zip
	md5sums = SKIP

pkgname = matlab

